<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
  <p>&copy; Copyright 2025 by Marcos Paulo. Todos os direitos reservados. Laber Company</p>
</footer>
</html>
