<%- include('partials/header') %>

<head>
    <title>Laber Company</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<div class="container">
    <section id="sobre-mim">
        <h2>Sobre Mim</h2>
        <p>
            Olá, sou Marcos Paulo, um apaixonado pela tecnologia da infromação e programação desenvolvo habilidades em sites, bots e aplicativos e softwares. Minha jornada me levou a criar a Laber Company, onde buscamos Sucesso & Evolucão para outros negocios atráves de sites e aplicativos.
        </p>
        <p>
            Eu sou um programador nivel basico terminando os estudos e buscando elevar meu nivel de conhecimento este tem sido meu projeto de desenvolvimento e aprendizado em um site de servidor bem desenvolvido e feito pra atender diversas demandas o que me motiva e saber que posso de alguma forma ajudar pessoas a alcaçarem o seu melhor e o seu sucesso profissional
        </p>
        <p>
            Eu sou um jovem auto-di-data, que estuda, trabalha, treina, e uma pessoa de fé e temente a Deus amo a minha religiao e todos os meus amigos de fé e de Jesus Cristo, eu vivo pra cristo e pra ajudar as pessoas e fazer o melhor para os meus amigos e pra minha familia. 
        </p>
    </section>

    <section id="sobre-laber">
        <h2>Sobre a Laber Company</h2>
        <p>
            A Laber Company é uma empresa dedicada a TI- Tecnologia Da Informação. Nosso objetivo é trazer o melhor do mercado Web & desenvolvimento desde do usúario que acessa nossas paginas todos os dias, ao pequeno, médio e grande empreendedor que busca elavancar a sua empresa através da inovação e o Marcos trabalha constante mente com tecnologias pra criar sits, aplicativos, bots, servidores e muito mais pra deixar o seu negocio cada vez mais inovador. .
        </p>
        <p>
            O Marcos desenvolvedor back-end e de alguns trabalhos em front-end tem trabalhando para deixar este site com melhor design e com as melhores tecnlogias pra atender a todos os clientes em breve ele será publicado em beta para atender a demanda de clientes da Laber Company, todos os nossos clientes de pequeno e medios projetos pra sites e bots receberão um descconto de 35% no desenvolvimento.
        </p>
    </section>

    <section id="portfolio">
        <h2>Portfólio</h2>
        <div class="portfolio-grid">
            <div class="portfolio-item">
                <img src="" alt="Projeto 1">
                <h3>Projeto 1</h3>
                <p>Descrição do Projeto 1.</p>
            </div>
            <div class="portfolio-item">
                <img src="" alt="Projeto 2">
                <h3>Projeto 2</h3>
                <p>Descrição do Projeto 2.</p>
            </div>
            </div>
    </section>

    <section id="imagens">
        <h2>Imagens</h2>
        <div class="imagens-grid">
            <img src="" alt="Imagem 1">
            <img src="" alt="Imagem 2">
            </div>
    </section>

    <section id="videos">
        <h2>Vídeos</h2>
        <div class="videos-grid">
           
            </div>
    </section>
</div>

<%- include('partials/footer') %>